doctype html
html
include includes/head.pug 
body
  
  -const wStyle = { "text-align":"center", "font-size": "22px", "color": "blue"}
  h1(style=wStyle) Bienvenue
    br
  p Afin de pouvoir acceder

  p(style={color: 'blue', fontWeight:'bold'}) #{message}
  form(action='/login' method='POST')
   P
     | Identifiant :
     input(type='text' name='login')
   p
     | mot de passe :
     input(type='password' name='password')
   p
     input(type='submit' value='Connexion')

  p Créer un compte
    a(href='/registration') ici
    