html
include includes/head.pug
body
 h1#account Create Your account to play the game
 form#regi(action='/processing' method='POST')
   p
      | Choose Your NickName :
      br
      input(type='text' name='login' required)
   p
      | Choose Your Password:
      br
      input(type='password' name='password' required)
   p
      input(type='submit' value='Créer un compte')